<section id="about">
  <h1>About Bikes London</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nisi arcu, viverra non facilisis vitae, euismod quis elit. Ut lacinia egestas elementum. Phasellus laoreet ligula at sem tincidunt, commodo mattis ligula pulvinar. Praesent interdum, tortor et eleifend semper, risus arcu vehicula massa, sed porta libero nulla a felis. Vivamus varius leo in odio congue, sit amet euismod massa consectetur. Maecenas iaculis ante et luctus volutpat. Integer lacus purus, scelerisque ut auctor sit amet, volutpat tincidunt turpis. Nullam nec accumsan mi.</p>
  <br>

  <%=image_tag("shop1.jpg", class: "img-responsive", align: "center", id: "about-photo1")%>
  <p>This is Bikes London folding bicycles section.</p>

  <br>
 
  <p>Fusce id nunc ac quam rutrum ullamcorper eu non augue. Nulla varius, mi in porta fringilla, sem mauris iaculis metus, ac feugiat nibh neque at dui. Maecenas commodo semper elementum. Sed libero elit, rhoncus malesuada consequat eleifend, posuere id magna. Nulla purus nisl, vestibulum sed lectus eu, mattis luctus urna. Nunc pretium dignissim ex, vitae cursus velit dapibus quis. Sed in sapien ut tortor ultrices accumsan. Nam tristique lorem id elit pulvinar finibus. Fusce ac interdum libero. Quisque et finibus nulla. Nam porttitor blandit ullamcorper. Donec vulputate vehicula volutpat.</p><br>

  <p>Nunc vitae dictum ex. Aliquam tempor, nunc sed dignissim dignissim, eros felis elementum urna, in pharetra augue nisi et turpis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec sit amet aliquam sem, ut convallis nisi. Duis feugiat lectus at elit laoreet, in consequat risus dignissim. Nulla posuere sem suscipit, maximus tellus ac, tempor sapien. Donec condimentum dignissim lacus sed rutrum. Suspendisse viverra augue id dignissim tempor.</p>
</section>