<section id="store-front">
  <h1>Welcome to Bikes London</h1>
  <h2>Because cycling is LIFE</h2>
  <p>Welcome! Find our featured products here!</p>
  <p><%= link_to '>> Cycle Spotlight <<', static_pages_landing_page_path %></p>
  <p>(hint: think quality at good prices!)</p>
  <%= image_tag("racebike.jpg", class: "img-responsive") %>
</section>
