<section id="store-front">
  <h1>Welcome to Bikes London</h1>
  <h2>Because cycling is LIFE</h2>
  <p>Welcome! The date and time is <%= Time.now %></p>
  <%= image_tag("racebike.jpg", class: "img-responsive") %>
</section>
