<section id="landing-page">
  <h1>Bikes London</h1>
  <p>Find me in app/views/static_pages/landing_page.html.erb</p>
  <h2>Featured Product:</h2>
  <%= image_tag(@featured_product.image_url, class: "img-responsive", id: "feature") %>
  <p><%= @featured_product.name %></p>
</section>