<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Greetings from Bikes London, <%= @user.name %> !</h1>
    <p>
      You have successfully placed an order,
      and will be processing it ASAP.<br>
    </p>
    <p>
      Expect further emails to know your shipping/delivery days and your official receipt. 
    </p>
    <p>Feel free to contact us, thank you for your custom and have a great day!</p>
  </body>
</html>