/* line 5, /Users/PJ/Documents/bikeslondon/app/assets/stylesheets/orders.scss */
#landing-page {
  text-align: center;
  padding-top: 4em;
}

/* line 12, /Users/PJ/Documents/bikeslondon/app/assets/stylesheets/orders.scss */
#feature {
  display: inline;
  clear: both;
  text-align: center;
}

/* line 20, /Users/PJ/Documents/bikeslondon/app/assets/stylesheets/orders.scss */
#orders-index {
  padding-top: 4em;
}
/* line 5, /Users/PJ/Documents/bikeslondon/app/assets/stylesheets/products.scss */
body a {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  color: #999999;
}
/* line 13, /Users/PJ/Documents/bikeslondon/app/assets/stylesheets/products.scss */
body a:visited {
  color: #6666CC;
}
/* line 17, /Users/PJ/Documents/bikeslondon/app/assets/stylesheets/products.scss */
body a:hover {
  color: #FFFFFF;
}

/* line 23, /Users/PJ/Documents/bikeslondon/app/assets/stylesheets/products.scss */
.bikes li form {
  width: 60%;
  text-align: center;
  list-style-type: none;
}

/* line 31, /Users/PJ/Documents/bikeslondon/app/assets/stylesheets/products.scss */
#edit {
  padding-top: 4em;
}

/* line 37, /Users/PJ/Documents/bikeslondon/app/assets/stylesheets/products.scss */
#products {
  padding: 4em 0em;
}

/* line 43, /Users/PJ/Documents/bikeslondon/app/assets/stylesheets/products.scss */
#folders {
  display: inline-block;
  text-align: center;
  clear: both;
}

/* line 51, /Users/PJ/Documents/bikeslondon/app/assets/stylesheets/products.scss */
#new-products {
  padding-top: 4em;
  text-align: center;
}

/* line 58, /Users/PJ/Documents/bikeslondon/app/assets/stylesheets/products.scss */
#products p ol ul a {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #FFFFFF;
}

/* line 65, /Users/PJ/Documents/bikeslondon/app/assets/stylesheets/products.scss */
#product-options a {
  color: #999999;
}
/* line 69, /Users/PJ/Documents/bikeslondon/app/assets/stylesheets/products.scss */
#product-options a:visited {
  color: #6666CC;
}
/* line 73, /Users/PJ/Documents/bikeslondon/app/assets/stylesheets/products.scss */
#product-options a:hover {
  color: #FFFFFF;
}

/* line 81, /Users/PJ/Documents/bikeslondon/app/assets/stylesheets/products.scss */
div.field, div.actions {
  margin-bottom: 10px;
  color: #FFFFFF;
}

/* line 88, /Users/PJ/Documents/bikeslondon/app/assets/stylesheets/products.scss */
#product_name, #product_description, #product_image_url, #product_price {
  color: #000000;
}

/* line 94, /Users/PJ/Documents/bikeslondon/app/assets/stylesheets/products.scss */
.actions {
  color: #666666;
}

/* line 100, /Users/PJ/Documents/bikeslondon/app/assets/stylesheets/products.scss */
#new-products {
  color: white;
}

/* line 104, /Users/PJ/Documents/bikeslondon/app/assets/stylesheets/products.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 110, /Users/PJ/Documents/bikeslondon/app/assets/stylesheets/products.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 119, /Users/PJ/Documents/bikeslondon/app/assets/stylesheets/products.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}
/* line 130, /Users/PJ/Documents/bikeslondon/app/assets/stylesheets/products.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
/* line 1, /Users/PJ/Documents/bikeslondon/app/assets/stylesheets/scaffolds.scss */
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 9, /Users/PJ/Documents/bikeslondon/app/assets/stylesheets/scaffolds.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 15, /Users/PJ/Documents/bikeslondon/app/assets/stylesheets/scaffolds.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 21, /Users/PJ/Documents/bikeslondon/app/assets/stylesheets/scaffolds.scss */
a {
  color: #000;
}
/* line 24, /Users/PJ/Documents/bikeslondon/app/assets/stylesheets/scaffolds.scss */
a:visited {
  color: #666;
}
/* line 28, /Users/PJ/Documents/bikeslondon/app/assets/stylesheets/scaffolds.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 35, /Users/PJ/Documents/bikeslondon/app/assets/stylesheets/scaffolds.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 40, /Users/PJ/Documents/bikeslondon/app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green;
}

/* line 44, /Users/PJ/Documents/bikeslondon/app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 50, /Users/PJ/Documents/bikeslondon/app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 58, /Users/PJ/Documents/bikeslondon/app/assets/stylesheets/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}
/* line 69, /Users/PJ/Documents/bikeslondon/app/assets/stylesheets/scaffolds.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
/* line 1, /Users/PJ/Documents/bikeslondon/app/assets/stylesheets/static_pages.scss */
body {
  background-image: url("background111.jpg");
  color: #FFFFFF;
  text-align: center;
}

/* line 10, /Users/PJ/Documents/bikeslondon/app/assets/stylesheets/static_pages.scss */
.img-responsive {
  vertical-align: text-top;
  display: inline-block;
  padding-bottom: 0em;
}

/* line 18, /Users/PJ/Documents/bikeslondon/app/assets/stylesheets/static_pages.scss */
.navbar input {
  color: #000000;
}

/* line 24, /Users/PJ/Documents/bikeslondon/app/assets/stylesheets/static_pages.scss */
.navbar li {
  letter-spacing: 0.05em;
  list-style-type: none;
  color: #FFFFFF;
  display: inline !important;
  min-height: 40px !important;
  max-height: 40px !important;
  height: 40px !important;
  margin-top: -15px !important;
  margin-bottom: -20px !important;
  padding-bottom: 5px;
}

/* line 39, /Users/PJ/Documents/bikeslondon/app/assets/stylesheets/static_pages.scss */
.form {
  list-style-type: none;
  color: #FFFFFF;
  display: inline !important;
  min-height: 30px !important;
  max-height: 30px !important;
  height: 30px !important;
  padding-top: 10px !important;
  margin-bottom: -10px !important;
  margin-top: -10px !important;
}

/* line 55, /Users/PJ/Documents/bikeslondon/app/assets/stylesheets/static_pages.scss */
#landing-page {
  text-align: center;
}

/* line 61, /Users/PJ/Documents/bikeslondon/app/assets/stylesheets/static_pages.scss */
#carousel-example-generic {
  color: #FFFFFF;
  padding-bottom: 2em;
}

/* line 68, /Users/PJ/Documents/bikeslondon/app/assets/stylesheets/static_pages.scss */
.carousel-controls {
  position: relative;
  width: 60%;
  margin: 0 auto;
}

/* line 76, /Users/PJ/Documents/bikeslondon/app/assets/stylesheets/static_pages.scss */
.carousel-indicators {
  margin-bottom: 0px;
}

/* line 82, /Users/PJ/Documents/bikeslondon/app/assets/stylesheets/static_pages.scss */
#store-front {
  padding-top: 4em;
  text-align: center;
}

/* line 88, /Users/PJ/Documents/bikeslondon/app/assets/stylesheets/static_pages.scss */
#about {
  padding: 4em;
  text-align: center;
}

/* line 95, /Users/PJ/Documents/bikeslondon/app/assets/stylesheets/static_pages.scss */
#about-photo1 {
  display: inline;
  text-align: center;
  clear: both;
}

/* line 103, /Users/PJ/Documents/bikeslondon/app/assets/stylesheets/static_pages.scss */
#contact {
  padding: 4em 4em 8em 4em;
  text-align: center;
  width: 100%;
  height: 100%;
}

/* line 112, /Users/PJ/Documents/bikeslondon/app/assets/stylesheets/static_pages.scss */
#map {
  padding: 2em;
  height: 30em;
}

/* line 119, /Users/PJ/Documents/bikeslondon/app/assets/stylesheets/static_pages.scss */
#deets h5 {
  padding: 4em 0em 0em 2em;
  color: #FFFFFF;
  text-align: center;
}

/* line 127, /Users/PJ/Documents/bikeslondon/app/assets/stylesheets/static_pages.scss */
#directory ul li {
  display: block;
  text-align: center;
  color: #FFFFFF;
}

/* line 135, /Users/PJ/Documents/bikeslondon/app/assets/stylesheets/static_pages.scss */
form {
  display: inline-block;
  width: 66%;
  text-align: center;
  padding: 2em;
}

/* line 145, /Users/PJ/Documents/bikeslondon/app/assets/stylesheets/static_pages.scss */
#must {
  display: inline;
  text-align: center;
  width: 100%;
}

/* line 153, /Users/PJ/Documents/bikeslondon/app/assets/stylesheets/static_pages.scss */
#must p {
  display: inline;
  text-align: center;
  padding: 0em;
  width: 100%;
}

/* line 162, /Users/PJ/Documents/bikeslondon/app/assets/stylesheets/static_pages.scss */
input {
  text-align: center;
  color: #FFFFFF;
  width: 80%;
}

/* line 170, /Users/PJ/Documents/bikeslondon/app/assets/stylesheets/static_pages.scss */
#thank-you {
  display: block;
  text-align: center;
  color: #000000;
  padding: 2em 4em;
}

/* line 179, /Users/PJ/Documents/bikeslondon/app/assets/stylesheets/static_pages.scss */
#message {
  display: inline;
  text-align: center;
  color: #FFFFFF;
}

/* line 187, /Users/PJ/Documents/bikeslondon/app/assets/stylesheets/static_pages.scss */
#message textarea {
  text-align: center;
  color: #000000;
}

/* line 194, /Users/PJ/Documents/bikeslondon/app/assets/stylesheets/static_pages.scss */
#availability-contact h3 {
  text-align: center;
  padding-bottom: 2em;
}

/* line 201, /Users/PJ/Documents/bikeslondon/app/assets/stylesheets/static_pages.scss */
footer {
  padding: 4em;
}
/* line 5, /Users/PJ/Documents/bikeslondon/app/assets/stylesheets/users.scss */
div#error_explanation ul li {
  color: #000000;
  text-align: center;
}

/* line 12, /Users/PJ/Documents/bikeslondon/app/assets/stylesheets/users.scss */
#sign-page {
  text-align: center;
}

/* line 18, /Users/PJ/Documents/bikeslondon/app/assets/stylesheets/users.scss */
.actions {
  width: 20%;
  text-align: center;
  margin: 0px auto;
}

/* line 26, /Users/PJ/Documents/bikeslondon/app/assets/stylesheets/users.scss */
#new_user input {
  color: #000000;
  text-align: center;
  display: inline;
  width: 50% auto;
}

/* line 35, /Users/PJ/Documents/bikeslondon/app/assets/stylesheets/users.scss */
#remember_me input {
  display: inline;
  margin: 0px auto;
}

/* line 42, /Users/PJ/Documents/bikeslondon/app/assets/stylesheets/users.scss */
#remember-me {
  text-align: center;
}

/* line 48, /Users/PJ/Documents/bikeslondon/app/assets/stylesheets/users.scss */
#edit-registration {
  text-align: center;
}

/* line 54, /Users/PJ/Documents/bikeslondon/app/assets/stylesheets/users.scss */
#edit-registration input {
  color: #000000;
  text-align: center;
  display: inline;
  width: 50% auto;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */
