<form action="/charge" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
    data-name="Bikes London"
    data-description="<%= @product.name %> (<%= @product.price %>)"
    data-zip-code="true"
    data-currency="gbp"
    data-amount="<%= @product.price*100 %>"
    data-locale="auto">
  </script>
  <script type="text/javascript">
  // This identifies your website in the createToken call below
  Stripe.setPublishableKey('pk_test_LxLcbPL889pWdtN4fBinlwGh');
  // ...
</script>
</form>

