<form action="/charge" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_LxLcbPL889pWdtN4fBinlwGh"
    data-image="/assets/Brompton-logo-small.png"
    data-name="Bikes London"
    data-description="<%= @product.name %> (<%= @product.price %>)"
    data-zip-code="true"
    data-currency="gbp"
    data-amount="<%= @product.price*100 %>"
    data-locale="auto">
  </script>
</form>

