// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#error_explanation ul li {
  
  color : #000000;
  text-align : center;

}

#sign-page {

  text-align : center;

}

.field input {
  
  color : #000000;

}

.actions {
	
  width : 100%;
  text-align : center;
  margin : 0px auto;

}

#sign-page input {
  
  color : #000000;
  text-align : center;
  display : inline;
  width : 50% auto;

}



#remember_me  {
	
     text-align : center;
     width : 50%;
     display : inline-block;
     padding : 0px 100px;
    
}


#edit-registration {
	
     text-align : center;

}

#edit-registration input {
  
     color : #000000;
     text-align : center;
     display : inline;
     width : 50% auto;

}