<section id="products">
  <% if notice %>
    <p id="notice" class="alert alert-info"><%= notice %></p>
  <% end %>
  <h1>Bikes for Sale</h1>
  <% if signed_in? && current_user.admin? %>
    <%= link_to 'New Product', new_product_path %>
   <% end %>
  <% @products.each do |products| %>
  <div><p> </p></div>
  <div class="container-fluid">
    <div class="row">
      <%= render partial: "shared/product", locals: {product: products} %>
      <% end %> 
    </div><!-- end row -->
  </div><!-- end container-fluid -->
</section>