<section id="products">
  <h1>Bikes for Sale</h1>

  <% if signed_in? && current_user.admin? %>
    <%= link_to 'New Product', new_product_path %>
   <% end %>

  <% @product.each do |product| %>

  <div><p> </p></div>
  <div class="container-fluid">
    <div class="row">
      <%= render partial: "shared/product", locals: {product: product} %>
      <% end %> 
    </div><!-- end row -->
  </div><!-- end container-fluid -->
</section>